#input{
    padding: 20px;
    background-color: white;
    width: 70%;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 24px;
    /* border: 0; */
   

   
}
.input-container{
     display: flex;
     align-items: center;
     justify-content: center;
}